* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 6% 93%;
    gap: 10px;
}

#vehicle {
    margin-top: 25px;
}