.trips-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    width: 92%;
    padding-right: 20px;
    border-radius: 8px;
    background-color: var(--card-bg);
}

.trips-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align items to the top */
}


.trips-info h2 {
    margin-right: 30px;
    top: 20px;
    margin-bottom: 10px;
}

.trips-info p {
    font-size: 12px;
}

.trip-display {

    display: flex;
    align-items: center;
}

.car-image {
    position: relative;
    left: -30px;
    width: 300px;
    height: 200px;
}

.car-image img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.car-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: var(--primary-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.left-arrow {
    left: -45px;
}

.right-arrow {
    right: -30px;
}

.trip-details {
    position: absolute;
    top: 20%;
    left: 15%;
    color: #fff;
    text-align: left;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
}

.trip-type {
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.destination {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.time,
.date {
    font-size: 16px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}